@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, ol, ul, li, form, fieldset, legend, input, table {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

fieldset, img {
  border: 0; }

ol, ul, li {
  list-style: none; }

input {
  border: 0;
  outline: 0;
  font-size: 14px; }

a {
  color: inherit;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }
  a:active, a:hover, a:link, a:visited {
    color: inherit;
    text-decoration: none; }

.displayNone, .display-none {
  display: none; }

.display-flex {
  display: flex; }

.displayInlineFlex {
  display: inline-flex; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.5em + 1vmin);
  background: #283048;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6b7a7f, #283048);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6b7a7f, #283048);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #cccccc; }
  body::-webkit-scrollbar {
    width: 10px; }
  body::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 5px;
    border-left: 1px solid transparent; }
  body::-webkit-scrollbar-thumb:hover {
    background-color: white; }
  body::-webkit-scrollbar-track {
    background-color: transparent; }

.App ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: capitalize; }
  .App ul li {
    width: calc(20% - 4.5vh + 2px);
    min-width: 200px;
    margin: 1vh;
    padding: 1vh;
    border: 1px solid #cccccc;
    max-height: 25vh;
    min-height: 25vh;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    transition: all ease 0.4s; }
    .App ul li:hover {
      -webkit-box-shadow: 0 0 5px #fff;
      -moz-box-shadow: 0 0 5px #fff;
      box-shadow: 0 0 5px #fff; }
      .App ul li:hover ul {
        border-color: white; }
        .App ul li:hover ul .header-wrapper h4 {
          color: black; }
    .App ul li .header-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1vh;
      padding-bottom: 1vh;
      border-bottom: 1px solid #cccccc; }
      .App ul li .header-wrapper h4 {
        font-size: calc(.5em + 1vmin);
        font-weight: normal; }
      .App ul li .header-wrapper .header-tools {
        display: flex;
        align-items: center; }
        .App ul li .header-wrapper .header-tools p {
          cursor: pointer; }
        .App ul li .header-wrapper .header-tools .minimize {
          font-size: calc(.5em + .5vmin); }
    .App ul li ul {
      height: calc(100% - calc(.75em + 2vmin) - 1vh);
      overflow: auto;
      display: flex;
      align-content: flex-start;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      .App ul li ul::-webkit-scrollbar {
        width: 10px; }
      .App ul li ul::-webkit-scrollbar-thumb {
        background-color: #cccccc;
        border-radius: 5px;
        border-left: 1px solid transparent; }
      .App ul li ul::-webkit-scrollbar-thumb:hover {
        background-color: white; }
      .App ul li ul::-webkit-scrollbar-track {
        background-color: transparent; }
      .App ul li ul li {
        width: calc(100% - 1vh);
        border: 0;
        margin: 0;
        padding: 1vh 0 1vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: unset;
        min-height: unset; }
        .App ul li ul li:first-child {
          padding-top: 0; }
        .App ul li ul li:last-child {
          padding-bottom: 0; }
        .App ul li ul li:hover {
          box-shadow: none; }
          .App ul li ul li:hover span {
            color: #fff; }
          .App ul li ul li:hover p {
            color: #fff;
            margin-left: 10px; }
        .App ul li ul li a {
          display: flex;
          align-items: center; }
          .App ul li ul li a span {
            color: white;
            -webkit-transition: all ease 0.4s;
            -moz-transition: all ease 0.4s;
            transition: all ease 0.4s; }
          .App ul li ul li a p {
            margin-left: 5px;
            -webkit-transition: all ease 0.4s;
            -moz-transition: all ease 0.4s;
            transition: all ease 0.4s; }
        .App ul li ul li img {
          width: calc(.5em + 1vmin);
          cursor: pointer; }
.App .preview-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8); }
  .App .preview-wrapper > div {
    position: relative;
    padding: 20px;
    border: 1px solid #cccccc;
    max-width: 75%; }
    .App .preview-wrapper > div img {
      width: 100%;
      height: 100%; }
    .App .preview-wrapper > div button {
      position: absolute;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #cccccc;
      top: -10px;
      right: -10px;
      background: black;
      outline: 0;
      width: 20px;
      height: 20px;
      border: 1px solid #cccccc;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      .App .preview-wrapper > div button:hover {
        border-color: white;
        color: white; }

/*# sourceMappingURL=index.css.map */
