@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, ol, ul, li, form, fieldset, legend, input, table {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

fieldset, img {
  border: 0; }

ol, ul, li {
  list-style: none; }

input {
  border: 0;
  outline: 0;
  font-size: 14px; }

a {
  color: inherit;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none; }
  a:active, a:hover, a:link, a:visited {
    color: inherit;
    text-decoration: none; }

.displayNone, .display-none {
  display: none; }

.display-flex {
  display: flex; }

.displayInlineFlex {
  display: inline-flex; }

@font-face {
  font-family: 'links';
  src: url("../assets/icons/links.ttf") format("truetype"), url("../assets/icons/links.woff") format("woff"), url("../assets/icons/links.svg#links") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'links', serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-components:before {
  content: "\e992"; }

.icon-reddit:before {
  content: "\eac6"; }

.icon-cheatsheets:before {
  content: "\e86d"; }

.icon-inspiration:before {
  content: "\e90f"; }

.icon-checklist:before {
  content: "\e065"; }

.icon-students:before {
  content: "\e80c"; }

.icon-books:before {
  content: "\e91f"; }

.icon-guides:before {
  content: "\e920"; }

.icon-design:before {
  content: "\e956"; }

.icon-api:before {
  content: "\e95c"; }

.icon-tools:before {
  content: "\e991"; }

.icon-icons:before {
  content: "\ea5c"; }

.icon-discord:before {
  content: "\e94c"; }

.icon-news:before {
  content: "\e905"; }

.icon-css:before {
  content: "\eae6"; }

html {
  background: #283048;
  height: 100%; }

body {
  height: 100%;
  color: #cccccc;
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.5em + 1vmin);
  background: -webkit-linear-gradient(to right, #6b7a7f, #283048);
  background: linear-gradient(to right, #6b7a7f, #283048); }
  body::-webkit-scrollbar {
    width: 5px; }
  body::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 0;
    border-left: 1px solid transparent; }
  body::-webkit-scrollbar-thumb:hover {
    background-color: white; }
  body::-webkit-scrollbar-track {
    background-color: transparent; }
  body #root, body .App {
    height: 100%; }
    body #root h1, body .App h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      color: white;
      text-transform: capitalize;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      position: relative;
      cursor: default; }

.sectionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: calc(100% - 70px);
  margin: 10px 10px 10px 15px;
  overflow: auto;
  text-transform: capitalize; }
  .sectionList::-webkit-scrollbar {
    width: 5px; }
  .sectionList::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    border-radius: 0;
    border-left: 1px solid transparent; }
  .sectionList::-webkit-scrollbar-thumb:hover {
    background-color: white; }
  .sectionList::-webkit-scrollbar-track {
    background-color: transparent; }
  .sectionList .sectionList__section {
    width: calc(20% - 4.5vh + 2px);
    height: 25vh;
    min-width: 190px;
    max-width: 300px;
    margin: 0 10px 10px;
    padding: 1vh;
    border: 1px solid #cccccc;
    position: relative;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    transition: all ease 0.4s; }
    .sectionList .sectionList__section:hover {
      -webkit-box-shadow: 0 0 5px white;
      -moz-box-shadow: 0 0 5px white;
      box-shadow: 0 0 5px white; }
      .sectionList .sectionList__section:hover .sectionList__section--header {
        color: white;
        border-color: white; }
    .sectionList .sectionList__section .sectionList__section--header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1vh;
      padding-bottom: 1vh;
      border-bottom: 1px solid #cccccc;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      .sectionList .sectionList__section .sectionList__section--header h4 {
        font-size: calc(.5em + 1vmin);
        font-weight: normal; }
      .sectionList .sectionList__section .sectionList__section--header .header-tools {
        display: flex;
        align-items: center; }
        .sectionList .sectionList__section .sectionList__section--header .header-tools p {
          cursor: pointer; }
    .sectionList .sectionList__section .sectionList__section--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0; }
      .sectionList .sectionList__section .sectionList__section--icon span {
        font-size: calc(3em + 10vmin);
        opacity: .2; }
    .sectionList .sectionList__section .sectionList__section--items {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      height: calc(100% - calc(.75em + 2vmin) - 1vh);
      overflow: auto;
      position: relative;
      z-index: 1;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      .sectionList .sectionList__section .sectionList__section--items::-webkit-scrollbar {
        width: 5px; }
      .sectionList .sectionList__section .sectionList__section--items::-webkit-scrollbar-thumb {
        background-color: #cccccc;
        border-radius: 0;
        border-left: 1px solid transparent; }
      .sectionList .sectionList__section .sectionList__section--items::-webkit-scrollbar-thumb:hover {
        background-color: white; }
      .sectionList .sectionList__section .sectionList__section--items::-webkit-scrollbar-track {
        background-color: transparent; }
      .sectionList .sectionList__section .sectionList__section--items .sectionItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 1vh);
        padding: 1vh 0; }
        .sectionList .sectionList__section .sectionList__section--items .sectionItem:first-child {
          padding-top: 0; }
        .sectionList .sectionList__section .sectionList__section--items .sectionItem:last-child {
          padding-bottom: 0; }
        .sectionList .sectionList__section .sectionList__section--items .sectionItem:hover a p {
          color: white;
          margin-left: 10px; }
        .sectionList .sectionList__section .sectionList__section--items .sectionItem .sectionItem__wrapper {
          display: flex;
          align-items: center; }
          .sectionList .sectionList__section .sectionList__section--items .sectionItem .sectionItem__wrapper span {
            color: white;
            -webkit-transition: all ease 0.4s;
            -moz-transition: all ease 0.4s;
            transition: all ease 0.4s; }
          .sectionList .sectionList__section .sectionList__section--items .sectionItem .sectionItem__wrapper p {
            margin-left: 5px;
            -webkit-transition: all ease 0.4s;
            -moz-transition: all ease 0.4s;
            transition: all ease 0.4s; }
        .sectionList .sectionList__section .sectionList__section--items .sectionItem img {
          width: calc(.5em + 1vmin);
          cursor: pointer; }

.preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2; }
  .preview-wrapper > div {
    position: relative;
    max-width: 75%;
    padding: 20px;
    border: 1px solid #cccccc; }
    .preview-wrapper > div p {
      position: absolute;
      top: -12px;
      background: black;
      padding: 0 10px;
      border: 1px solid; }
    .preview-wrapper > div img {
      width: 100%;
      height: 100%; }
    .preview-wrapper > div button {
      position: absolute;
      top: -10px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      color: #cccccc;
      outline: 0;
      background: black;
      cursor: pointer;
      border: 1px solid #cccccc;
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      .preview-wrapper > div button:hover {
        color: white;
        border-color: white; }

/*# sourceMappingURL=index.css.map */
