@import "colors";
@import "mixins/utils";

html, body, ol, ul, li, form, fieldset, legend, input, table{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

fieldset, img{
  border: 0;
}

ol, ul, li{
  list-style: none;
}

input{
  border: 0;
  outline: 0;
  font-size: 14px;
}

a{
  color: inherit;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  @include transition(none);
  &:active, &:hover, &:link, &:visited{
    color: inherit;
    text-decoration: none;
  }
}

.displayNone, .display-none{
  display: none;
}
.display-flex{
  display: flex ;
}
.displayInlineFlex{
  display: inline-flex;
}