@import './mixins/utils';

@include screen('laptop') {
  .sectionList {
    .sectionList__section {
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}

@include screen('tablet') {
  .sectionList {
    .sectionList__section {
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}

@include screen('mobile') {
  .sectionList {
    justify-content: center;
    .sectionList__section {
      height: 20vh;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}