@import '../colors';

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin truncate($container-width){
  width: $container-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin scrollbar($border_color: transparent, $thumb_color: darken($primary_color, 20%), $track_color: transparent){
  &::-webkit-scrollbar{width: 5px}
  &::-webkit-scrollbar-thumb{background-color: $thumb_color; border-radius: 0; border-left: 1px solid $border_color;}
  &::-webkit-scrollbar-thumb:hover{background-color: $primary_color;}
  &::-webkit-scrollbar-track{background-color: $track_color;}
}

@mixin screen($size, $height: false) {
  $desktop: "(min-width: 1600px)";
  $laptop: "(min-width: 1366px) and (max-width: 1600px)";
  $tablet: "(min-width: 816px) and (max-width: 1365px)";
  $tablet_mini: "(min-width: 816px) and (max-width: 1000px)";
  $mobile: "(max-width: 815px)";
  $mobile_mini: "(max-width: 600px)";

  /*
   * Desktop
   */
  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  }

    /*
     * Laptop
     */
  @else if $size == laptop {
    @media only screen and #{$laptop} {
      @content;
    }
  }

    /*
     * Tablet
     */
  @else if $size == tablet {
    @if ($height) {
      @media only screen and #{$tablet}, screen and (max-height: $height) {
        @content;
      }
    } @else {
      @media only screen and #{$tablet} {
        @content;
      }
    }
  }

    /*
     * Tablet Mini
     */
  @else if $size == tablet_mini {
    @media only screen and #{$tablet_mini}{
      @content;
    }
  }

    /*
     * Mobile
     */
  @else if $size == mobile {
    @if ($height) {
      @media only screen and #{$mobile}, screen and (max-height: $height) {
        @content;
      }
    } @else {
      @media only screen and #{$mobile} {
        @content;
      }
    }
  }

    /*
     * Mobile Mini
     */
  @else if $size == mobile_mini {
    @if ($height) {
      @media only screen and #{$mobile_mini}, screen and (max-height: $height) {
        @content;
      }
    } @else {
      @media only screen and #{$mobile_mini} {
        @content;
      }
    }
  } @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}

@mixin striped-background($primary_color, $secondary_color, $angle: false){
  @if $angle {
    background: repeating-linear-gradient(
                    $angle,
                    $primary_color,
                    $primary_color 10px,
                    $secondary_color 10px,
                    $secondary_color 20px
    );
  }
  @else {
    background: repeating-linear-gradient(
                    -45deg,
                    $primary_color,
                    $primary_color 10px,
                    $secondary_color 10px,
                    $secondary_color 20px
    );
  }
}